@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}


body{
   background-color: #F6F6F6;
}

#contato_wats{
    position: fixed;
    top: 85%;
    left: 3%;
    background-color: green;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    opacity: 80%;
    
}

header{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #5e5455;
    padding: 20px;
    background-color: #ea6f7b;
    width: 100%;
    position: fixed;
}


#Fecha-menu-barras{
    font-size: 30px;
    background-color: #ea6f7b;
    border: none;
    color: #171717;
    display: none;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#mostra_menu{
   position: absolute;
   display: none;
   top: 0px;
   right: 0px;
    

}
#mostra_menu nav{
    width: 200px;
    background-color: #070707c1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border-radius: 0px 0px 0px 10px;

}

#mostra_menu a{
    color: #fff;
    font-weight: 500;
    font-family: 'Sarala';
    font-size: 20px;
    text-decoration: none;

}
#mostra_menu #pg_home{

   color: #ea6f7b;
}

#menu-barras{
    font-size: 30px;
    background-color: #ea6f7b;
    border: none;
    color: #171717;
    display: none;
}

.container_menu_bar{
    display: flex;
    margin-right: 30px;
}

.container_menu_bar .duvidas{
    font-size: 20px;
    border: 1px solid #171717;
    padding: 0px 10px;
    border-radius: 100%;
}
.container_menu_bar .duvidas:hover{
    color: white;
}

.container_menu_bar a{
    text-decoration: none;
    margin: 10px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: bold;
    color: #171717;
}

.container_menu_bar a:hover{
    text-decoration: underline;
    color: #0c0c0cc2;
}




#pg_home{
    color: #0c0c0cc2;
    text-decoration: underline;
}

.container_principal{
    display: flex;
    align-items: center;
    height: 90vh;
    align-items: center;
    justify-content: space-around;
}

.container_principal img{
    width: 500px;
    
}

.container_marca{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container_marca p{
    color: black;
    font-family: 'Poppins';
    line-height: 0px;
}
.container_marca a{
    text-decoration: none;
    margin-top: 40px;
    background-color: #ea6f7b;
    padding: 15px 40px;
    border: 1px solid #171717;
    border-radius: 3px;
    font-family: 'Sarala';
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.631);
    cursor: pointer;
    transition: 0.3s all;
}
.container_marca a:hover{
    background-color: #ea6f7bc9;
    transform: scale(1.05);
    border-color: #ea6f7b;
}


.container_marca h1{
    color: #ea6f7b;
    font-size: 100px;
}




.container_principal2{
    display: flex;
    justify-content: space-around;
}

.container_makes{
    display: flex;
    flex-direction: column;
    border: 1px solid #171717;
}

.titulo_makes{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}






.titulo_makes #btn_verMais{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

#btn_verMenos{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}

#btn_verMenos:hover{
    color: #ea6f7b;
}

#btn_verMais2{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais2:hover{
    color: #ea6f7b;
}
#btn_verMenos2{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos2:hover{
    color: #ea6f7b;
}

#btn_verMais3{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais3:hover{
    color: #ea6f7b;
}
#btn_verMenos3{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos3:hover{
    color: #ea6f7b;
}


#btn_verMais4{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais4:hover{
    color: #ea6f7b;
}
#btn_verMenos4{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos4:hover{
    color: #ea6f7b;
}

#btn_verMais5{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais5:hover{
    color: #ea6f7b;
}
#btn_verMenos5{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos5:hover{
    color: #ea6f7b;
}

#btn_verMais6{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais6:hover{
    color: #ea6f7b;
}
#btn_verMenos6{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos6:hover{
    color: #ea6f7b;
}

#btn_verMais7{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais7:hover{
    color: #ea6f7b;
}
#btn_verMenos7{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos7:hover{
    color: #ea6f7b;
}

#btn_verMais8{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais8:hover{
    color: #ea6f7b;
}
#btn_verMenos8{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos8:hover{
    color: #ea6f7b;
}

#btn_verMais9{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais9:hover{
    color: #ea6f7b;
}
#btn_verMenos9{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos9:hover{
    color: #ea6f7b;
}

#btn_verMais10{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais10:hover{
    color: #ea6f7b;
}
#btn_verMenos10{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos10:hover{
    color: #ea6f7b;
}

#btn_verMais11{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    
}
#btn_verMais11:hover{
    color: #ea6f7b;
}
#btn_verMenos11{
    font-family: 'Sarala';
    font-weight: 600;
    font-size: 12px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
    display: none;
}
#btn_verMenos11:hover{
    color: #ea6f7b;
}

.titulo_makes #btn_verMais:hover{
    color: #ea6f7b;
}

.make_natural{
    display: flex;
}

.container_make_natural{
    border: 1px solid #171717;
    width: 300px;
    height: 320px;
    margin: 5px;
    
}


.buttons_make button{
    border: 1px solid white;
    background-color: #ea6f7b;
    padding: 10px 20px;
    font-family: 'Sarala';
    font-weight: bold;
    color: #171717;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s all;
}

.buttons_make button:hover{
    border: 1px solid #070707;
    transform: scale(1.02);
}


#make01{
    display: flex;
    display: none;
}
#make1{
    display: flex;
    display: none;
}
#make2{
    display: flex;
    display: none;
}
#make02{
    display: flex;
    display: none;
}
#make3{
    display: flex;
    display: none;
}
#make03{
    display: flex;
    display: none;
}
#make4{
    display: flex;
    display: none;
}
#make04{
    display: flex;
    display: none;
}
#make5{
    display: flex;
    display: none;
}
#make05{
    display: flex;
    display: none;
}
#make6{
    display: flex;
    display: none;
}
#make06{
    display: flex;
    display: none;
}
#make7{
    display: flex;
    display: none;
}
#make07{
    display: flex;
    display: none;
}
#make8{
    display: flex;
    display: none;
}
#make08{
    display: flex;
    display: none;
}
#make9{
    display: flex;
    display: none;
}
#make09{
    display: flex;
    display: none;
}
#make10{
    display: flex;
    display: none;
}
#make010{
    display: flex;
    display: none;
}
#make11{
    display: flex;
    display: none;
}
#make011{
    display: flex;
    display: none;
}

.makes{
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
    text-align: center;
}

.makes h1{
    font-family: 'Poppins';
    font-size: 40px;
    color: #171717;
    margin: 10px;
}

.makes h2{
    font-family: 'Poppins';
    font-size: 25px;
    color: #171717;
    margin: 10px;
}

.makes h3{
    font-family: 'Poppins';
    font-size: 20px;
    color: #171717;
    margin: 10px;
}

.makes p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #171717;
    margin: 10px;
}
.makes img{
    width: 300px;
}



.categorias{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    height: 800px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
    align-items: center;
    
}

.categorias h3{
    font-family: 'Poppins';
    font-size: 20px;
    color: #171717;
    margin: 10px;
}

.container_buscas{
    display: flex;
    background-color: #F6F6F6;
    height: 100px;   
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.401);
    border-radius: 3px;
}

.container_buscas input {
    height: 40px;
    margin-right: 10px;
    padding-left: 5px;
    font-family: 'Sarala';
    border-radius: 3px;
    border: 1px solid rgb(21, 21, 21);
    outline: none;
}

.itens_categorias h4{
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #171717;
}

.itens_categorias nav{
    display: flex;
    flex-direction: column;
    
}

.itens_categorias a{
    text-decoration: none;
    margin: 10px;
    color: #171717;
    font-family: 'Poppins';
    font-size: 14px;

}
.itens_categorias a:hover{
    text-decoration: underline;
    color: #070707;
}


footer{
    display: flex;
    flex-direction: column;
    background-color: #ea6f7b;
    margin-top: 60px;

}

.links_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    padding: 50px;
    
}

.contatos{
    display: flex;
    align-items: center;
}

.contatos i{
    font-size: 25px;
    border-radius: 100px;
    margin: 2px;
    color: #171717;
    background-color: #F6F6F6;
    padding: 7px;
}
.contatos i:hover{
    background-color: #171717;
    color: #ea6f7b;
}

.container_links{
    display: flex;
    flex-direction: column;
    text-align: justify;
    
}

.container_links h3{
    color: white;
    font-family: 'Sarala';
    font-size: 20px;
}

.container_links a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
}

.container_links p{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
}

.container_links a:hover{
    text-decoration: underline;
}


.pagamentos_cadastro{
    display: flex;
    height: 200px;
    justify-content: space-around;
}

.container_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_cadastro h3{
    color: white;
    font-family: 'Sarala';
    font-size: 16px;
}

.cadastro form{
    display: flex;
    flex-direction: row;

}

#email{
    width: 300px;
    height: 35px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #171717a5;
    font-family: 'Sarala';
    font-weight: bold;
    outline:none;
    margin-top: 3px;
}



#btn_cadastrar{
    width: 100px;
    height: 35px;
    border-radius: 4px;
    font-family: 'Sarala';
    font-weight: bold;    
    cursor: pointer;
    background-color: #171717;
    color: white;
    border: none;
    margin-top: 3px;
    margin-left: 12px;
}

#btn_cadastrar:hover{
    background-color: black;
}


.container_cadastro p{
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}
.container_cadastro a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    color: #171717;
}
.container_cadastro a:hover{
    text-decoration: underline;
}

.localizacao{
    display: flex;
    flex-direction: column;
    
}

.localizacao h3{
    color: white;
    font-family: 'Sarala';
    font-size: 16px;
}
.localizacao p{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
}

.container_pagamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_pagamentos h3{
    color: white;
    font-family: 'Sarala';
    font-size: 16px;
}

.icones_pagamentos{
    display: flex;
    justify-content: space-around;
}

.icones_pagamentos i{
    font-size: 35px;
    margin: 5px;
    color: #171717;
}



@media screen and (max-width: 740px){
    #contato_wats{
       top: 88%;
        
    }

    #img_logo{
        display: none;
    }
    .inicio{
        justify-content: center;
        margin-bottom: 0;
    }
    
    
    
    .container_principal h1{
        font-size: 70px;

    }
    .container_marca{
       height: 100px;
        
    }
    .container_marca h1{
        font-size: 90px;
    }
    .container_marca p{
       font-size: 25px;

    }
    .categorias{
        display: none;
    }
    .container_principal2{
        width: 100%;
        margin-top: 10px;
    }
    .container_principal2 h1{
        font-size: 30px;
    }
    .container_principal2 h2{
        font-size: 25px;
    }

    .makes{
        width: 100%;
    }
    .make_natural{
        flex-direction: row;
        align-items: center;
        text-align: justify;
    }
    .titulo_makes h2{
        font-size: 20px;
    }
    .btn{
        display: none;
    }   

    .links_footer{
        justify-content: space-between;
        display: flex;
        flex-direction: column;


    }
    .dividir_links{
        margin:2px;
        display: flex;
        margin: 15px;
        flex-direction: column;
    }
    .uteis{
        margin:2px;
        display: flex;
        margin: 15px;
        align-items: center;

    }
    .perguntas{
        display: none;
    }
    .container_cadastro{
        display: none;
    }
    footer{
        height: 700px;
    }
    .localizacao{
        margin-top: 200px;
        align-items: center;
    }
}


@media screen and (max-width: 630px){
    #contato_wats{
       top: 88%;
        
    }
    
    #img_logo{
        display: none;
    }
    .inicio{
        justify-content: center;
        margin-bottom: 0;
    }
    
    
    
    .container_principal h1{
        font-size: 70px;

    }
    .container_marca{
       height: 100px;
        
    }
    .container_marca h1{
        font-size: 90px;
    }
    .container_marca p{
       font-size: 25px;

    }
    .categorias{
        display: none;
    }
    .container_principal2{
        width: 100%;
        margin-top: 10px;
    }
    .container_principal2 h1{
        font-size: 30px;
    }
    .container_principal2 h2{
        font-size: 25px;
    }

    .makes{
        width: 100%;
    }
    .make_natural{
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    .titulo_makes h2{
        font-size: 20px;
    }
    .btn{
        display: none;
    }   

    .links_footer{
        justify-content: space-between;
        display: flex;
        flex-direction: column;


    }
    .dividir_links{
        margin:2px;
        display: flex;
        margin: 15px;
        flex-direction: column;
    }
    .uteis{
        margin:2px;
        display: flex;
        margin: 15px;
        align-items: center;

    }
    .perguntas{
        display: none;
    }
    .container_cadastro{
        display: none;
    }
    footer{
        height: 700px;
    }
    .localizacao{
        margin-top: 200px;
        align-items: center;
    }
}


@media screen and (max-width: 400px){
    #contato_wats{
       top: 88%;
        
    }

    #menu-barras{
        display: block;
    }

    #img_logo{
        display: none;
    }
    .inicio{
        justify-content: center;
        margin-bottom: 0;
    }
    
    
    
    .container_principal h1{
        font-size: 70px;

    }
    .container_marca{
       height: 100px;
        
    }
    .container_marca h1{
        font-size: 90px;
    }
    .container_marca p{
       font-size: 25px;

    }
    .categorias{
        display: none;
    }
    .container_principal2{
        width: 100%;
        margin-top: 10px;
    }
    .container_principal2 h1{
        font-size: 30px;
    }
    .container_principal2 h2{
        font-size: 25px;
    }

    .makes{
        width: 100%;
    }
    .make_natural{
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    .titulo_makes h2{
        font-size: 20px;
    }
    .btn{
        display: none;
    }   

    .links_footer{
        justify-content: space-between;
        display: flex;
        flex-direction: column;


    }
    .dividir_links{
        margin:2px;
        display: flex;
        margin: 15px;
        flex-direction: column;
    }
    .uteis{
        margin:2px;
        display: flex;
        margin: 15px;
        align-items: center;

    }
    .perguntas{
        display: none;
    }
    .container_cadastro{
        display: none;
    }
    footer{
        height: 700px;
    }
    .localizacao{
        margin-top: 200px;
        align-items: center;
    }
}